html,
body {
    padding: 0;
    margin: 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 8px;
    margin-bottom: 5vw;
}

.row {
    display: flex;
}

textarea {
    border: none;
    resize: none;
}

.time {
    width: 10%;
    text-align: right;
    height: 2vw;
    padding: 1vw;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.content {
    width: 80%;
    text-align: left;
    padding: 1vw;
    background: #77dd77;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}

.save {
    width: 10%;
    text-align: center;
    padding-top: 1vw;
    background: white;
    border-bottom: 1px solid grey;
}